/* app.css */
body {
  background-color: #303030;
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.MuiPaper-root {
  background-color: #424242;
  color: #f5f5f5;
}

.MuiTableSortLabel-root:hover {
  color: #fff;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: #fff;
}

.MuiTableSortLabel-icon {
  color: #fff;
}

.MuiTableCell-head {
  color: #f5f5f5;
  font-weight: bold;
}

.MuiTableBody-root .MuiTableRow-root:nth-of-type(odd) {
  background-color: #424242;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.MuiPaginationItem-root {
  color: #f5f5f5;
  font-weight: bold;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #f5f5f5;
  color: #424242;
}

.MuiPaginationItem-root:hover {
  background-color: #f5f5f5;
  color: #424242;
}

.MuiStack-root > * {
  background-color: #424242;
  border-radius: 4px;
}

.MuiTextField-root .MuiOutlinedInput-root {
  background-color: #424242;
  color: #f5f5f5;
}

.MuiTextField-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #f5f5f5;
}

.MuiTextField-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f5f5f5;
}

.MuiTablePagination-root {
  color: #f5f5f5;
}

.MuiSvgIcon-root {
  color: #f5f5f5;
}
